:root{
    --blanco: #acababb4;
    --oscuro: #212121;
    --primario: #62a9d8;
    --secundario: #041dacc4;
    --gris: #706d6dea;
    --grisClaro: #DFE9F3;

}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
.designs,
.navegacion-principal,
.formulario{/*scroll**/
scroll-snap-align: center;
scroll-snap-stop: always;

}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
h1{
    font-size: 3.8rem;
    

}
h2{
    font-size: 2.8rem;
    

}
h3{
    font-size: 1.8rem;
   
}
h1, h2, h3{
    text-align: center;

}
.titulo span{
    font-size: 2rem;
   
}
.contenedor{
    max-width: 150rem;
    margin:0 auto;

  
}
.boton{
    background-color: var(--secundario);
    color: white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
    
}
.w-100{
    width: 100%;
    margin: 3rem;
    
}

@media (min-width: 768px) {
.boton,
.w-100{
    width: auto;
    }
.boton:hover{
   cursor: pointer;
}

.flex{
display: flex;
}
.alinear-derecha{
justify-content: center;
}
/**designS**/
.designs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.nav-bg{
    background-color: var(--secundario);
    
}
.navegacion-principal{
   display: flex;
   flex-direction: column;
   justify-content:space-between ;
}

@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
    }
}
.navegacion-principal a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color:var(--oscuro);
}
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    /*/70% define el grado de transparencia*/
    background-color: rgb(0 0 0/ 60%);
    width: 100%;
    height: 100%;

    /*----alinear horizontal y verticalmenta---------*/
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

}
.contenido-hero h2,
.contenido-hero  p{
    color: white;
}
.ubicacion{
    display: flex;
   align-items:flex-end;/*Para que me ubique el texto parte abajo de la linea*/
}

@media (min-width: 780px) {
    /**designS**/
.designs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
  
}
}
/**USAR FLEXBOX PARA LA DISTRIBUCION DE LOS ELEMENTOS DE CONTENEDORES*/
.design{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.design h3{
color: var(--secundario);
font-weight: normal;
}
.design p{
    line-height: 2;
    text-align: center;
    
}
.design .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.formulario{

    background-color: var(--gris);
    width: min(100rem , 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
   
}

.formulario legend{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);

}

@media (min-width:768px){
    .contenedor-campo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
    }

    .campo:nth-child(3){
        grid-column: 1/3;
    }
    .campo:nth-child(4){
grid-column: 1/3;
    } 
}


.campo{
margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: flex;

}
.campo textarea{
    height: 20rem;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/*Footer*/

.footer{
   text-align: center; 
}